<!-- templates/accounts/password_reset_email.html -->
{% load i18n %}
{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your Job Portal account.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

If you didn't request this password reset, please ignore this email. The link will expire in {{ expiration_days }} day{{ expiration_days|pluralize }}.

Thanks for using Job Portal!

The Job Portal Team
{% endautoescape %}